
  @media (min-width: 1024px) {
    body {
      display: flex;
      place-items: center;
    }
  
    #app {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 30px;
      padding: 0 2rem;
    }
  }
  