.item {
    margin-top: 2rem;
    display: flex;
    position: relative;
  }
  
  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
    color: var(--color-heading);
    text-align: left;
  }
  
  .item {
    margin-top: 0;
    padding: 0.4rem 0 1rem 1rem;
  }
  
  .item:first-of-type:before {
    display: none;
  }
  
  .item:last-of-type:after {
    display: none;
  }